      .snackbar{z-index:1000;display:none;position: fixed;bottom:0;float:bottom;padding:4px;box-shadow: 1px 5px 5px #00000044;border-radius:4px;background-color: #216bd3;margin:12px}
      .snackText{padding:8px 16px!important;text-align:left;float:left;font-size: 18px;color:white;
      }
      .snack-button{
          float:right!important;
          background-color: white;
          color:#216bd3;
          font-size:18px;
          margin: 4px;
          border-width: 0;
          border-radius: 4px;
          box-shadow: 1px 5px 10px #00000022;
          padding:4px 12px 4px 12px;
          transition: 0.2s ease;
          cursor: pointer;
      }:focus{
          outline: none;
      }
      .snack-show{
          position:fixed;
          animation:animatebotom 0.4s ease;
          animation-fill-mode: forwards;
      }
      @keyframes
      animatebotom{
           from{bottom:-300px;opacity:0}
            to{bottom:0;opacity:1;display:block}
      }
      .snack-hide{
          position:fixed;
          animation:animatebottom 0.4s ease;
          animation-fill-mode: forwards;
      }
      @keyframes
      animatebottom{
          from{bottom:0;opacity:1}
          to{bottom:-300px;opacity:0;display:none;}
      }

      .dialog-ovelay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.50);
        z-index: 999999
      }
      .dialog-ovelay .dialog {
        width: 80%;
        max-width: 400px;
        margin: 100px auto 0;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,.2);
        border-radius: 3px;
        overflow: hidden
      }
      .dialog-ovelay .dialog header {
        padding: 10px 8px;
        background-color: #f6f7f9;
        border-bottom: 1px solid #e5e5e5
      }
      .dialog-ovelay .dialog header h3 {
        font-size: 14px;
        margin: 0;
        color: #555;
        display: inline-block
      }
      .dialog-ovelay .dialog header .fa-close {
        float: right;
        color: #c4c5c7;
        cursor: pointer;
        transition: all .5s ease;
        padding: 0 2px;
        border-radius: 1px    
      }
      .dialog-ovelay .dialog header .fa-close:hover {
        color: #b9b9b9
      }
      .dialog-ovelay .dialog header .fa-close:active {
        box-shadow: 0 0 5px #673AB7;
        color: #a2a2a2
      }
      .dialog-ovelay .dialog .dialog-msg {
        padding: 12px 10px
      }
      .dialog-ovelay .dialog .dialog-msg p{
        margin: 0;
        font-size: 15px;
        color: #333
      }
      .dialog-ovelay .dialog footer {
        border-top: 1px solid #e5e5e5;
        padding: 8px 10px
      }
      .dialog-ovelay .dialog footer .controls {
        direction: rtl
      }
      .dialog-ovelay .dialog footer .controls .button {
        padding: 5px 15px;
        border-radius: 3px
      }
      .button {
      cursor: pointer
      }
      .button-default {
        background-color: rgb(248, 248, 248);
        border: 1px solid rgba(204, 204, 204, 0.5);
        color: #5D5D5D;
      }
      .button-danger {
        background-color:teal;
        border: 1px solid teal;
        color: #f5f5f5
      }
      .link {
      padding: 5px 10px;
      cursor: pointer
      }
      