<!DOCTYPE html>
{% load static %}
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/snackbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel = "icon" href ="https://i.pinimg.com/originals/8a/b6/56/8ab656faa2989706ecfdd926c030e757.png" type = "image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Area</title>
</head>
<style>
  #mainsection {
    background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-tong-019-chim-02_1_3.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=2c732ce5066026b4fe5ca5d78abbe706");
    background-size: cover,contain;
    background-position: fixed top center;
    background-repeat: no-repeat;
  }

</style>
<body>
  <div id="snackBar" class="snackbar snack-show">
    <span class="snackText" id="snackText"></span>
    <button class="snack-button" id="snackButton"></button>
    </div>
<header class="text-gray-700 bg-indigo-500 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg> -->
      <img src="{% static 'images/loc2.png' %}"width="70" height="70" class="d-inline-block align-top" alt="Logo" loading="lazy">
      <span class="ml-3 text-xl">Book Area</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="/users/login" class="mr-5 hover:text-gray-900">Login</a>
    </nav>
    <a href="/users/register">
    <button class="inline-flex items-center bg-blue-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Register
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </a>
  </div>
</header>
    <section class="text-gray-700 body-font" id="mainsection">
        <div class="container mx-auto flex px-5 py-12 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
              <br class="hidden lg:inline-block">Get your hall booked
            </h1>
            <p class="mb-8 leading-relaxed">One place to book an hall, auditorium or seminar room in the ABES Engineering College. You may book any area of any college through the portal.</p>
            <div class="flex justify-center">
             <a href="/users/login"> <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Get Started</button></a>
            </div>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-4/6">
            <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/500x500/?auditorium">
          </div>
        </div>
      </section>

      <section class="text-gray-700 bg-gray-100 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">How it works</h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-base">Just three simple steps</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/3  md:w-1/2 p-4">
              <div class="border bg-white border-gray-300 p-6 rounded-lg">
                <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                  <i class="fa fa-address-card-o" style="font-size: 24px;"></i>
                </div>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Registration</h2>
                <p class="leading-relaxed text-base">Click on the Registration page to get youself registered.</p>
              </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
              <div class="border bg-white border-gray-300 p-6 rounded-lg">
                <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                  <i class="fa fa-handshake-o" style="font-size:24px"></i>
                </div>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Login</h2>
                <p class="leading-relaxed text-base">Login in the portal with your creditional. <br></p>
              </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
              <div class="border bg-white border-gray-300 p-6 rounded-lg">
                <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                  <i class="fa fa-check-square-o" style="font-size:24px"></i>
                </div>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Book</h2>
                <p class="leading-relaxed text-base">Find the available venues and book the best venue.snack-button</p>
              </div>
            </div>



          </div>

        </div>
      </section>

      <section class="text-gray-700 bg-gray-200 body-font relative">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Us</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Have a question? Write to us!</p>
          </div>
          <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
              <div class="p-2 w-1/2">
                <input id="name" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Name" type="text">
              </div>
              <div class="p-2 w-1/2">
                <input id="email" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Email" type="email">
              </div>
              <div class="p-2 w-full">
                <textarea id="message" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="Message"></textarea>
              </div>
              <div class="p-2 w-full">
                <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"id="query">Submit</button>
                <button id="load" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" style="display: none;">
                  <i class="fa fa-spinner fa-spin"></i>&nbsp;Please Wait
                </button>
              </div>

            </div>
          </div>
        </div>
      </section>
      <footer class="text-gray-700 bg-black body-font">
        <div class="container px-5 py-3 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
              <img src="{% static 'images/loc2.png' %}"width="70" height="70" class="d-inline-block align-top" alt="Logo" loading="lazy">

              <span class="ml-3 text-white text-xl">Book Area</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 ABES Engineering College —
            <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">All right reserved</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/snackbar.js' %}"></script>
<script>
$("#query").on("click" , ()=>{

  name = $("#name").val();
  email = $("#email").val();
  message = $("#message").val();
  if(name=="" || email=="" || message==""){
    showSnackBar("Please fill all the fields",hasAction = false,actionText = String(),isNormal = false,isWarning = true);
    return;
  }
  $("#load").show();
  $("#query").hide();
  $.post("/askquery",{
  "name": $("#name").val(),
  "email": $("#email").val(),
  "message": $("#message").val(),
  "csrfmiddlewaretoken":"{{csrf_token}}"
},(data,success)=>{
  showSnackBar(data,hasAction = false,actionText = String(),isNormal = true,isWarning = false);
  $("#load").hide();
  $("#query").show();
  $("#name").val("");
  $("#email").val("");
  $("#message").val("");
});
});
</script>
</html>
